.write-container {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

.journal-section {
    display: flex;
    flex-direction: column;
}

.journal-input {
    min-height: 200px;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-bottom: 1rem;
}

.submit-entry {
    padding: 10px 20px;
    background-color: #6a5acd;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-entry:hover {
    background-color: #5848bd;
}
